{
  "only": ["src"], // Ignore third party code,
  "env": {
    // Setup for tests
    "test": {
      "presets": ["env"]
    },
    // Setup for build
    "development": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ]
      ],
      "plugins": ["external-helpers", "lodash"]
    }
  }
}
